---
title: Longboard
pagination: 
  enabled: true
  collection: links
---

<div class="page">

  {% for links in site.links %}

  <article class="article" itemscope itemtype="http://schema.org/CreativeWork">

    <header class="article-header">
      <h1 class="article-title" itemprop="headline"><a href="{{ links.link }}" rel="bookmark">{{ links.title }}</a></h1>
      <p><a href="{{ links.url }}" rel="bookmark">{{ links.title }}</a></p>
    </header>

    <footer class="article-meta">
        {% include post-time.html %}
    </footer>

  </article><!-- end .article -->

  {% endfor %}

</div><!-- end .page -->
