<nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">

  <div class="site-established">
    <b>Est. 2002</b><br />
    Airbag has been around since Moveabletype beta and has enjoyed a reputation for being a blunt voice in the world of interactive design.
  </div>
  <div class="site-introperspective">
    <ul>
      {% for menu-item in site.data.menus.nav-links %}
        <li class="{% if menu-item.url == page.url %}active{% endif %}">
          {% if menu-item.url == page.url %}
            <b>{{ menu-item.title }}</b>
          {% else %}
            <a href="{{ menu-item.url }}">{{ menu-item.title }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>    
    <ul>
      <li><b>Brilliantcrank</b></li>
      {% for menu-item in site.data.menus.social-links %}
        <li class="{% if menu-item.url == page.url %}active{% endif %}">
          <a href="{{ menu-item.url }}">{{ menu-item.title }}</a>
        </li>
      {% endfor %}
    </ul>    
    <ul>
      <li><b>Work</b></li>
      {% for menu-item in site.data.menus.work-links %}
        <li class="{% if menu-item.url == page.url %}active{% endif %}">
          <a href="{{ menu-item.url }}">{{ menu-item.title }}</a>
        </li>
      {% endfor %}
    </ul>    
  </div>

</nav><!-- end nav-primary-->