{{ define "main" }}

  <article class="article">
    {{ if or .Title .Content }}
      {{ with .Title }}<h1 class="article-title">{{ . }}</h1>{{ end }}
      {{ with .Content }}<div class="article-title-description">{{ . }}</div>{{ end }}
    {{ end }}

    <ul class="archive-list">
    {{ range (where .Site.RegularPages "Type" "in" (slice "post"))}}
      <li>{{ .Date.Format "2 Jan '06" }} / <a href="{{.Permalink}}" title="{{.Title | safeHTML}}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
  </article>

{{ end }}
