{{ define "main" }}

  <section class="archive">
    <header class="archive__header">
      <h1 class="pb-6 mb-6 font-bold tracking-wider uppercase border-b text-10 sm:text-12">#Archive</h1>
      <p class="mb-12 font-extrabold text-23 sm:text-27 text-blue">{{ .Title }}</p>
    </header>

    <div class="archive__content">
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{ range $key, $value := $taxonomy }}
          {{ $posts := where $value.Pages "Section" "post" }}
          {{ with len $posts }}
            <section class="archive-group">
              <h2 class="mb-8 font-bold tracking-wider uppercase text-10 sm:text-12">#{{ $key }}</h2>
              <ul class="archive-list">
                {{ range $posts }}<li class="text-15 sm:text-17"><a href="{{ .Permalink}}">{{ .LinkTitle }}</a></li>{{ end }}
              </ul>
            </section>
          {{ end }}
        {{ end }}
      {{ end }}

      <section class="archive-group">
        <h2 class="mb-8 font-bold tracking-wider uppercase text-10 sm:text-12">#Everything</h2>
        <ul class="archive-list">
        {{ range (where .Site.RegularPages "Type" "in" (slice "post"))}}
          <li class="text-15 sm:text-17"><a href="{{.Permalink}}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
      </section>
    </div>
  </section>
{{ end }}
