{{ define "main" }}


		<article class="article" itemscope itemtype="http://schema.org/CreativeWork">
			<header class="article-header">
				<h1 class="article-title" itemprop="headline">{{ .Title }}</h1>
			</header>
					
			<div class="article-content" itemprop="text">
				{{ .Content }}
			</div>

			{{/* Only display the following for individual posts (not pages) */}}

			{{ if eq .Section "post" }}			
			<footer class="article-meta">
				<time class="article-time" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format .Site.Params.DateForm }}</time>
				{{if .Params.tags}} 
				<ul class="article-tags">
					{{ range .Params.tags }}
						<li class="article-tag"><a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a></li>
					{{ end }}
				</ul>
				{{end}}
			</footer>
			<nav class="article-nav">
				<div class="left">
					<a href="/archive/" title='Site Archive'>Index</a> 
				</div>
				<div class="right">
					{{if .PrevInSection}}
						<a class="prev" href="{{.PrevInSection.Permalink}}" title="{{.PrevInSection.Title}}">&laquo; Previous</a>
					{{end}}
					{{if .NextInSection}}
						<a class="next" href="{{.NextInSection.Permalink}}" title="{{.NextInSection.Title}}">Next &raquo;</a>
					{{end}}
				</div> 
			</nav>
			{{ end }}

		</article>

{{end}}