#headerspecial {
	MARGIN: 0px auto
}
#main {
	MARGIN: 0px auto 10px
}
#globalnav {
	MARGIN: 5px auto 15px; WIDTH: 680px; BORDER-BOTTOM: #a1a5a9 1px solid
}
#globalnav A {
	TEXT-DECORATION: none
}
#globalnav .icon {
	DISPLAY: block; FLOAT: right; WIDTH: 110px; HEIGHT: 46px
}
#globalnavipod {
	BACKGROUND: url(http://images.apple.com/ipod/images/navipod20041026.gif) no-repeat right top
}
#globalnavmini {
	BACKGROUND: url(http://images.apple.com/ipod/images/navmini20041026.gif) no-repeat right top
}
#globalnavphoto {
	BACKGROUND: url(http://images.apple.com/ipod/images/navphoto20041026.gif) no-repeat right top
}
#globalnavspecialeditionu2 {
	BACKGROUND: url(	ipodnav.gif) no-repeat right top
}
#bodyipod #globalnavipod {
	BACKGROUND: url(http://images.apple.com/ipod/images/navipodhi20041026.gif)
}
#bodymini #globalnavmini {
	BACKGROUND: url(http://images.apple.com/ipod/images/navminihi20041026.gif)
}
#bodyphoto #globalnavphoto {
	BACKGROUND: url(http://images.apple.com/ipod/images/navphotohi20041026.gif)
}
#bodyspecialeditionu2 #globalnavspecialeditionu2 {
	BACKGROUND: url(ipodnav.gif)}
A:hover #globalnavipod {
	BACKGROUND: url(http://images.apple.com/ipod/images/navipodhi20041026.gif)
}
A:hover #globalnavmini {
	BACKGROUND: url(http://images.apple.com/ipod/images/navminihi20041026.gif)
}
A:hover #globalnavphoto {
	BACKGROUND: url(http://images.apple.com/ipod/images/navphotohi20041026.gif)
}
A:hover #globalnavspecialeditionu2 {
	BACKGROUND: url(ipodnav.gif)
}
#nav {
	TABLE-LAYOUT: fixed; MARGIN-BOTTOM: 15px; WIDTH: 680px
}
#nav TD {
	BORDER-RIGHT: #a1a5a9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #a1a5a9 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #a1a5a9 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a1a5a9 1px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#nav TD.first {
	BORDER-LEFT: #a1a5a9 1px solid
}
#nav TD A {
	PADDING-RIGHT: 3px; DISPLAY: block; PADDING-LEFT: 3px; BACKGROUND: url(http://images.apple.com/ipod/images/nav_whitebar.jpg); PADDING-BOTTOM: 3px; COLOR: #333; PADDING-TOP: 3px; TEXT-DECORATION: none
}
#nav TD A:hover {
	BACKGROUND: url(http://images.apple.com/ipod/images/nav_silverbarhover.jpg); COLOR: #000; TEXT-DECORATION: none
}
#bodyipod #nav TD A.hi {
	BACKGROUND: url(http://images.apple.com/ipod/images/nav_silverbar.jpg); COLOR: #000
}
#bodymini #nav TD A.gold:hover {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_goldbar.jpg)
}
#bodymini #nav TD A.blue:hover {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_bluebar.jpg)
}
#bodymini #nav TD A.pink:hover {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_pinkbar.jpg)
}
#bodymini #nav TD A.green:hover {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_greenbar.jpg)
}
#bodymini #nav TD A.higold {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_goldbar.jpg); COLOR: #000
}
#bodymini #nav TD A.hiblue {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_bluebar.jpg); COLOR: #000
}
#bodymini #nav TD A.hipink {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_pinkbar.jpg); COLOR: #000
}
#bodymini #nav TD A.higreen {
	BACKGROUND: url(http://images.apple.com/ipodmini/images/nav_greenbar.jpg); COLOR: #000
}
#bodyphoto #nav TD A:hover {
	BACKGROUND: url(http://images.apple.com/ipodphoto/images/nav_lightbar.jpg)
}
#bodyphoto #nav TD A.hi {
	BACKGROUND: url(http://images.apple.com/ipodphoto/images/nav_bluebar.jpg); COLOR: #000
}
#main .box H2 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 10px; BACKGROUND: url(http://images.apple.com/ipod/images/nav_whitebar.jpg); PADDING-BOTTOM: 5px; MARGIN: 0px -5px 5px; COLOR: #333; PADDING-TOP: 5px; BORDER-BOTTOM: #a1a5a9 1px solid
}
#configurations .across {
	MARGIN-BOTTOM: 5px
}
#callouts {
	MARGIN: 10px 0px 20px
}
.paddingfix {
	PADDING-TOP: 5px
}
#seemore {
	TABLE-LAYOUT: fixed; WIDTH: 100%
}
#seemore TD {
	FONT-WEIGHT: bold; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
#accessories {
	WIDTH: 680px
}
#accessories TD {
	TEXT-ALIGN: left; vetical-align: top
}
