<footer class="site-footer sm:px-4 md:px-8">

  <div class="footer-main">
    {{ partial "shutterthumb" . }}
    {{/*
    Note: "Extra" elements in the footer, commented out until they're ready for use.
    {{ partial "extra" . }}
    {{ partial "extra" . }}
    {{ partial "extra" . }}
    */}}
    <div class="site-footer__flying-a">
      <div class="bg-navy px-4 py-6 block sm:max-w-5xs">
        <img src="/assets/svg/a.svg" alt="">
      </div>
    </div>

    <nav id="menu" class="site-footer__nav px-4 my-6 sm:px-0 sm:my-0">
      <ul class="text-11 xs:text-13 flex flex-col justify-center flex-wrap sm:block h-20 sm:h-auto">
        {{ partial "menu" . }}
      </ul>
    </nav>
  </div>

  <div class="footer-end sm:mt-10">
    <div class="site-footer__big-red bg-red flex justify-center px-4 py-4">
      <img src="/assets/img/airbag.svg" alt="">
    </div>
    <div class="site-footer__made hidden sm:flex flex-col justify-center mr-5">
      <p class="text-11 sm:text-13">Tacoma, Washington, USA</p>
    </div>
    <div class="site-footer__copyright hidden sm:flex flex-col justify-center ml-5">
      <p class="text-11 sm:text-13 text-right">&copy; Copyright 2002-{{ now.Year }}</p>
    </div>
  </div>

</footer>
