<div class="longform">
  <h2 class="inline-heading">

  {{ if .Params.tags }}<span class="uppercase tracking-widest"><span class="text-11 sm:text-12">{{ range first 1 .Params.tags }}#<a class="font-normal text-black" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ . }}</a>{{ end }}</span> /</span>{{ end }}
    <a class="ml-1 font-extrabold" href='{{.Params.target_url}}'>
      {{ .Title }}
    </a>
  </h2>
  {{ .Content }}
  <a class="js-arrow font-normal" href="{{.Permalink}}">➵</a>
</div>
