<nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">

  <div class="site-established">
    <b>Est. 2002</b><br />
    Airbag has been around since Moveabletype beta and has enjoyed a reputation for being a blunt voice in the world of interactive design.
  </div>
  <div class="site-introperspective">
    {{ $currentPage := . }}
    <ul>
      {{ range .Site.Menus.navlinks }}
      <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul>
      <li><b>Brilliantcrank</b></li>
      {{ range .Site.Menus.sociallinks }}
      <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul>
      <li><b>Work</b></li>
      {{ range .Site.Menus.worklinks }}
      <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>