<nav class="nav-primary" itemscope itemtype="http://schema.org/SiteNavigationElement" aria-label="Main navigation">

  <div class="site-established">
    <b>Est. 2002</b><br />
    {{ $.Site.Params.description }}
  </div>
  <div class="site-introperspective">
    {{ $currentPage := . }}
    <ul>
      {{ range .Site.Menus.navlinks }}
      <li class="{{if or ($currentPage.IsMenuCurrent "navlinks" .) ($currentPage.HasMenuCurrent "navlinks" .) }}active{{end}}"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul>
      <li><b>Brilliantcrank</b></li>
      {{ range .Site.Menus.sociallinks }}
      <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul>
      <li><b>Work</b></li>
      {{ range .Site.Menus.worklinks }}
      <li><a href="{{ .URL }}">{{ .Pre }} {{ .Name }}</a></li>
      {{ end }}
    </ul>
		<div id="shutterthumb">
        <ul><li><b>Shutterthumb</b><br/>1:1 photography</li></ul>
        <!-- <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=6&display=latest&size=m&layout=x&source=user&user=45716533@N00"></script>	-->
      </div><!--end shutterthumb-->
  </div>