    <article class="article{{ with .Type }} {{ . }}{{ end }}" itemscope itemtype="http://schema.org/CreativeWork">
			<header class="article-header">
        
          {{ if (ne .Type "longboard") }}
          <h1 class="article-title">
            <a href='{{.Permalink}}' title='{{.Title | safeHTML}}'>{{ .Title }}</a>
          </h1>          
          {{ end }}

			</header>
			<div class="article-content" itemprop="text">
        {{ if or (eq .Type "longboard") (.Param "target_url") }}
        <span class="longboard-title"><a href='{{.Param "target_url"}}' title='{{.Title | safeHTML}}'>{{ .Title }}</a></span>
        {{ end }}

				{{ .Content }}
			</div>
			<footer class="article-meta">
				<time class="article-time" itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "2 January '06" }}</time>
        {{ if and (eq .Type "longboard") (.Param "target_url") }}
          <a class="article-permalink" href='{{.Permalink}}' title='Permanent link to "{{.Title | safeHTML}}"'>🔗</a>
        {{ end }}
			</footer>

		</article>
