    <article class="article{{ with .Type }} {{ . }}{{ end }}" itemscope itemtype="http://schema.org/CreativeWork">
			<header class="article-header">
        <h1 class="article-title">
          {{ if and (eq .Type "longboard") (.Param "target_url") }}
          <a href='{{.Param "target_url"}}' title='{{.Title | safeHTML}}'>
          {{ else }}
          <a href='{{.Permalink}}' title='{{.Title | safeHTML}}'>
          {{ end }}
          {{ .Title }}
          </a>
        </h1>
			</header>
			<div class="article-content" itemprop="text">
				{{ .Content }}
			</div>
			<footer class="article-meta">
				<time class="article-time" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 January '06" }}</time>
			</footer>

		</article>
