{{ define "main"}}
<article class="article">
  <header class="article-header">
    <h1 class="article-title" itemprop="headline">Whoops.</h1>
  </header>
  <div class="article-content" itemprop="text">
    <p><b>You've made it to a URL that isn't working.</b></p>
    <p>You can either <a href="{{ "/" | relURL }}">go back home</a> or let me know about it <a href="mailto:greg@airbagindustries.com?subject=Hello Airbag">via email</a> or on <a href="https://www.twitter.com/brilliantcrank.com">Twitter</a>.</p>
  </div>
</article>
{{ end }}